.main {
  margin: 5% 10%;
  border-radius: 30px;
  background-color: rgba(240, 255, 255, .45);
  padding: 40px;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 900;
}

table {
  border-radius: 14px;
  background-color: rgba(255, 255, 255, .75);
  padding: 40px;
  width: 100%;
}

th {
  padding-bottom: 25px;
}

td {
  padding: 10px;
}

tr {
  height: 50px;
}